# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mila Votradovec
	email = me@milavotradovec.cz
[core]
	excludesFile = ~/.gitignore
	editor = nvim
[pull]
	ff = only
[init]
	defaultBranch = main
